# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!.gitattributes
!.github
!.gitlab-ci.yml
!.travis.yml
!.circleci
!.vscode
!.idea
!.env
!.dockerignore
!.editorconfig
!.prettierrc
!.prettierignore
!.eslintrc
!.eslintignore
!.pylintrc
!.pylintignore
!.coveragerc
!.coverageignore
!.flake8
!.flake8ignore
!.mypy.ini
!.mypyignore
!.tox
!.toxignore
!.pytest_cache
!.pytest_cacheignore
!.pytest.ini
!.pytestignore
!.requirements.txt
!.requirements-dev.txt
!.requirements-test.txt
!.requirements-prod.txt
!.requirements.txt
!.requirements-dev.txt
!.requirements-test.txt
!.requirements-prod.txt
!.Pipfile
!.Pipfile.lock
!.pyproject.toml
!.setup.py
!.setup.cfg
!.MANIFEST.in
!.LICENSE
!.README.md
!.CHANGELOG.md
!.CONTRIBUTING.md
!.CODE_OF_CONDUCT.md
!.AUTHORS.md
!.docs
!.tests
!.examples
!.scripts
!.bin
!.dist
!.build
!.*.egg-info
!.*.egg
!.*.whl
!.*.tar.gz
!.*.zip
!.*.log
!.*.tmp
!.*.bak
!.*.swp
!.*.swo
!.*.DS_Store
!.*.pyc
!.*.pyo
!.*.pyd
!.*.so
!.*.dylib
!.*.dll
!.*.exe
!.*.out
!.*.o
!.*.a
!.*.lib
!.*.obj
!.*.class
!.*.jar
!.*.war
!.*.ear
!.*.iml
!.*.ipr
!.*.iws
!.*.idea
!.*.vscode
!.*.env
!.*.dockerignore
!.*.editorconfig
!.*.prettierrc
!.*.prettierignore
!.*.eslintrc
!.*.eslintignore
!.*.pylintrc
!.*.pylintignore
!.*.coveragerc
!.*.coverageignore
!.*.flake8
!.*.flake8ignore
!.*.mypy.ini
!.*.mypyignore
!.*.tox
!.*.toxignore
!.*.pytest_cache
!.*.pytest_cacheignore
!.*.pytest.ini
!.*.pytestignore